<p><%= @resource.name %>様</p>
<p>お世話になっております。</p>

<p>パスワード変更のリクエストを受け付けました。パスワードの変更は、以下のリンクから行ってください。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もしこのリクエストがあなたのものでなければ、このメールは無視してください。</p>
<p>上のリンクから新しいパスワードに変更することをしなければ、あなたのパスワードは変わることはありません。</p>
